<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">

    <h2>Blog Verse</h2>

    <div class="nav-right">
        <h3>Welcome, {{ username }}</h3>

        <a href="/create">Upload New Post</a>

        <a href="/logout" class="logout-btn">
            Logout
        </a>
    </div>

</div>

<div class="feed-container">
 
    <div class="feed-container">

{% for post in posts %}


<div class="post-card">

    {% if post.type == 'image' %}

    <img src="{{ post.filename }}" class="post-image">

    {% else %}

    <div class="file-box">
        <h3>📁 File Uploaded</h3>

        <a href="{{ url_for('static', filename='files/' + post.filename) }}" download>
            Download File
        </a>
    </div>

    {% endif %}

    <div class="post-content">

        <h2>{{ post.title }}</h2>

        <p>{{ post.content }}</p>

        <div class="action-bar">

            <a href="/like/{{ post.id }}">
                ❤️ Like ({{ post.likes }})
            </a>

           <button onclick="sharePost({{ post.id }})">
    📤 Share
          </button>

            <a href="/delete/{{ post.id }}">
           🗑️ Delete
        </a>
        </div>

        <div class="comment-section">

            <h4>Comments</h4>

           {% for comment in Comment.query.filter_by(post_id=post.id).all() %}

    <div class="comment-box">

        <p>{{ comment.text }}</p>

        <a href="/delete_comment/{{ post.id }}/{{ comment.id }}">
            Delete Comment
        </a>

    </div>

{% endfor %}

           <form action="/comment/{{ post.id }}" method="POST">
                <input
                type="text"
                name="comment"
                placeholder="Write comment..."
                required>

                <button type="submit">
                    Comment
                </button>

            </form>

        </div>

    </div>

</div>

{% endfor %}

</div>

<script>
function sharePost(postId) {

    const postUrl = window.location.origin + "/post/" + postId;

    if (navigator.share) {

        navigator.share({
            title: "Blog Verse",
            text: "Check out this post!",
            url: postUrl
        }).catch(err => console.log(err));

    } else {

        navigator.clipboard.writeText(postUrl)
            .then(() => {
                alert("Link copied successfully!");
            })
            .catch(() => {
                prompt("Copy this link:", postUrl);
            });
    }
}
</script>
</body>
</html>
