
<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="post-card">

    <h1>{{ post.title }}</h1>

    {% if post.type == 'image' %}
        <img src="{{ post.filename }}" class="post-image">
    {% endif %}

    <p>{{ post.content }}</p>

    <hr>

    <h3>Comments</h3>

    {% for comment in comments %}
        <div class="comment-box">
            <p>{{ comment.text }}</p>
        </div>
    {% endfor %}

    <br>

    <a href="/">⬅ Back to Home</a>

</div>

</body>
</html>
